* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

.freeshipping {
    display: block;
    width: 100vw;
    height: 3rem;
    background-color: rgba(247, 159, 142, 1);
    overflow: hidden;
    position: relative; 
}

.freetext {
    position: absolute; 
    white-space: nowrap; 
    color: white;
    margin-top: 1rem;
    animation: free 15s linear infinite; 
}

@keyframes free {
    0% {
        transform: translateX(100vw); 
    }
    100% {
        transform: translateX(-100%); 
    }
}